* {
    margin: 0;
    padding: 0;
}

i {
    font-size: 150px;
}

.highlight {
    background-color: blueviolet;
    text-align: center;
    padding: 1em;
}

section > h2 {
    text-align: center;
}

/* .nav-container {
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
} */


.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
article {
    background-color: rgba(0, 0, 0, 0.8);
    color:aliceblue;
    padding: 25px;
    border-radius: 25px;
}

.about-item {
    flex-basis: 1;
    
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    row-gap: 25px;
}

/* skills container items */
div > i {
    /* so that there are 3 items per row */
    flex: 0 0 21%;
    /* to center items in the page */
    margin-left: 140px;
}


.pfp {
    max-width: 300px;
    max-height: 300px;
    border: 2px dashed black;
}


.skillset {
    background-color: lightgray;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
}